@charset "UTF-8";
p[id="order_goods"]{
padding-bottom:0px;
text-align:left;
font-size:10pt;
}
p[id="order_title"]{
padding-bottom:30px;
text-align:left;
font-size:10pt;
}
h6[class="item_price"]{
  color:#800000;
  font-size: 15px;
  border-bottom: 1px solid #C4C3C3;
  padding: 0.3em 0;
}
p[class="custom_comment"]{
  color:#333;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #C4C3C3;
  padding-left:5px;
  margin-top:0px;
}
img[id="customDetailImg"]{
  width: 80%;
}
.grid-top {
    float: center;
    width: 25%;
}
@media (max-width: 600px) {
  .col-xs-10 {
    width: 83.33333333%;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .col-sm-6 {
    width: 50%;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    float: center;
  }
  .col-sm-12 {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-6 {
    float: left;
  }
  .col-md-12 {
  	float: center;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  img {
    width: 45%;
  }
}
.panel-comment{
	padding:15px
}
.send input[type="submit"]{
	width: 14%;
	font-size: 11px;
	background:#800000;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
div[id=moreReviews] {
	/*font-size: 11px;*/
	background:#800000;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.grow h5 {
    color: #fff;
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}
 a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.item_add {
  color: #fff;
  border:none;
}
a.item_add {
 text-decoration: none;
}
a.go-form, a.go-list {
  text-decoration: none;
  color: #fff;
  background: #800000;
  padding: 0.4em 0.8em;
  font-size:0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}
a.modi, a.dele{
	text-decoration: none;
	color: #2d2d05;
	font-size:0.9em;
	padding: 0em 0.8em;
}

.panel{
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05);
}
.panel-body{
	padding:15px
}
.panel-heading{
	padding:10px 15px;
	border-bottom:1px solid transparent;
	border-top-left-radius:3px;border-top-right-radius:3px
}
.panel-heading>.dropdown .dropdown-toggle{
	color:inherit
}
.panel-title{
	margin-top:0;
	margin-bottom:0;
	font-size:15px;
	color:inherit
}
.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{
	color:inherit
}
.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table{
	margin-bottom:0
}
.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption{
	padding-right:15px;
	padding-left:15px
}
.panel>.table-responsive:first-child>.table:first-child,.panel>.table:first-child{
	border-top-left-radius:3px;
	border-top-right-radius:3px
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table:first-child>thead:first-child>tr:first-child{
	border-top-left-radius:3px;
	border-top-right-radius:3px
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child{
	border-top-left-radius:3px
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child{
	border-top-right-radius:3px
}
.panel>.table-responsive:last-child>.table:last-child,.panel>.table:last-child{
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child{
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child{
	border-bottom-left-radius:3px
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child{
	border-bottom-right-radius:3px
}
.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body{
	border-top:1px solid #ddd
}
.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th{
	border-top:0
}
.panel>.table-bordered,.panel>.table-responsive>.table-bordered{
	border:0
}
.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{
	border-left:0
}
.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{
	border-right:0
}
.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th{
	border-bottom:0
}
.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{
	border-bottom:0
}
.panel>.table-responsive{
	margin-bottom:0;
	border:0
}
.panel-group{
	margin-bottom:20px
}
.panel-group .panel{
	margin-bottom:0;
	border-radius:4px
}
.panel-group .panel+.panel{
	margin-top:5px
}
.panel-group .panel-heading{
	border-bottom:0
}
.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top:1px solid #ddd
}
.panel-group .panel-footer{
	border-top:0
}
.panel-group .panel-footer+.panel-collapse .panel-body{
	border-bottom:1px solid #ddd
}
.panel-default{
	border-color:#ddd
}
.panel-default>.panel-heading{
	color:#333;
	background-color:#ead7d7;
	border-color:#ddd
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color:#ddd
}
.panel-default>.panel-heading .badge{
	color:#f5f5f5;background-color:#333
}
.panel-default>.panel-footer+.panel-collapse>.panel-body{
	border-bottom-color:#ddd
}
