.page{
	text-align: center;
}

.page a{
	color: #393939;
	font-weight: bold;
	font-size: 13pt;
	padding: 4pt;
}
.page strong{
	color: #929292;
	font-weight: bold;
	font-size: 16pt;
	padding: 4pt;
	border-bottom: 1pt solid #b1b1b1;
}